*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #08213c;
    color: #fff;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/me.png);
    background-position: center;
    background-size: cover;
    
}
.container {
    padding: 10px 10%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #006d77;
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: 0.5s;
}
nav ul li a:hover:after {
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #006d77;
}
/* about-------------------------------------------------*/
#about {
    padding: 80px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #006d77;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents  ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #006d77;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* ------services-------------------------------------------------*/

#services {
    padding:30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 8px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div {
    font-size: 18px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #006d77;
    transform: translate(-10px);
}
/* ------porfolio-------------------------------------------------*/
#portfolio     {
    padding: 50px 0;
}
.work-list {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
 .work-img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
 /*a href links*/
 .styled-link {
    text-decoration: none;
    color: #06acee;
    font-weight: bold;
    position: relative;
  }
  
  .styled-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #13cdee;
    transition: width 0.3s;
  }
  
  .styled-link:hover::after {
    width: 0;
  }
  
  /*a href links*/
 .work:hover {
    transform: scale(1.1);
 
 }
 .work:hover .layer {
    height: 100%;
 }
 .span {
    display: block;
    margin: 50px 50px;
    width: fit-content;
    border: 1px solid #006d77;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
 }
.btn:hover {
    background: #006d77;
}

.seemore {
    text-decoration: none;
    color: #f5f7f8;
    background-color: rgb(10, 95, 62);
    margin: 30px 30px;
    padding:20px 20px;
    border-radius: 5px;
}
/*footer container ----------------------------------------- */
footer {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px 20px;
    margin:5px 7px;/* Spacing inside the footer */
    text-align: center; /* Center align text */
  }
  footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}
/* Center-align footer content */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Center-align footer links */
footer a {
    display: inline-block; /* Make links behave as blocks */
    margin: 0 10px; /* Add space between links */
}
/* Footer with dark background */
footer {
    background-color: #f5f5f5;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
     margin:6px 8px;

}
/* Footer with border */
footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd; /* Add a top border */
    padding: 20px;
    text-align: center;
}









